/**
* NAVBAR customisation
**/
.navbar-link {
  float: left;
}
.faq-q {
  color: #428bca;
  font-weight: bold;
  display: block;
}
.faq-a {
  list-style: none;
  margin-bottom: 1em;
}
.filter {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}
/**
GENERAL
**/
.site-wrapper {
  margin-top: -21px;
}
article {
  margin-top: 3em;
  margin-bottom: 1em;
}
footer {
  margin-top: 50px;
  padding-top: 20px;
  min-height: 320px;
  background-color: #428bca;
  border-top: 10px solid #245682;
}
/**
FRONTPAGE
Header
**/
.header-logo {
  height: 200px;
  width: 300px;
  margin-left: 10px;
}
.header-title {
  font-size: 3.5em;
  font-family: arial, sans-serif;
  color: #428bca;
  margin-top: 10px;
  padding-top: 10px;
}
.header-front {
  margin-bottom: 15px;
  margin-top: 15px;
}
.header-text {
  padding-top: 2em;
}
.header-text span {
  font-weight: bold;
  font-size: 1.5em;
}
.titel {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #428bca;
  font-size: 2.5em;
}
.menu-tab {
  text-align: center;
  color: #ffffff;
  padding: 5px;
  list-style: none;
  height: 60px;
  width: 105px;
}
.menu-tab:hover {
  height: 70px;
  cursor: pointer;
  background-color: #245682;
}
.menu {
  height: 100px;
}
/**
WORKSHOPS
**/
.workshop {
  margin-top: 1em;
  margin-bottom: 2em;
  height: 200px;
  background-repeat: no-repeat;
  max-width: 300px;
}
.workshop-title {
  font-size: 2em;
  background-color: #5bc0de;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}
.workshop-data {
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0.8em;
  color: black;
  background-color: #5bc0de;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.speach-corner {
  fill: #5bc0de;
  stroke-width: 0px;
}
.workshop span {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-bottom: 20px;
}
.icon-square {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  margin-right: 5px;
  padding: 1px 5px;
  font-size: 1.5em;
}
/**
FRONTPAGE
News
**/
.news-title {
  font-size: 1.5em;
  font-weight: bold;
}
.news-date {
  color: darkgray;
}
/**
BUTTON CHOICE
**/
.btn-choice {
  width: 300px;
  height: 50px;
}
.btn-choice div {
  float: left;
  margin-left: -7px;
}
.btn-choice i {
  font-size: 0.3em;
}
.cirkle {
  position: relative;
  background-color: #ffffff;
  top: 5px;
  border-radius: 15px;
  padding: 2px;
  font-size: 1em;
}
/**
* WORKSHOPS
**/
.workshoptitle {
  font-size: 1.5em;
  font-weight: bold;
  color: #428bca;
}
